/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
}

.ui-fieldset .ui-fieldset-legend{
    background-image: url("#{resource['images/logo1-01.png']}");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 50px !important;
    background-position: left 10px center;
}

.ui-fieldset-legend .ui-corner-all .ui-state-default{
    padding-left: 50px !important;
}

body {
	background-image: url("#{resource['images/ep_bg.png']}");
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center;
}

.fieldset-chat {
	display: inline-block;
	margin-top:20px;
	margin-left: 40px;
	width: 500px;
}

.slider{
	background-image: url("#{resource['images/slider_bg.png']}");
	background-repeat: no-repeat;
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center;
}

.ui-slider-horizontal{
	height: 0px;
}
