<server>

    <featureManager>
        <feature>javaee-7.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>
    <dataSource id='mysql-mydb' jdbcDriverRef='mysql-driver' jndiName='jdbc/mydb'
                transactional='true' type='javax.sql.ConnectionPoolDataSource'>
        <properties id='mysql-mydb-props'
                    databaseName='compose'
                    user='admin'
                    password='CQIYKSHFYDKSFQWZ'
                    portNumber='19410'
                    serverName='sl-us-dal-9-portal.1.dblayer.com'/>


        <connectionManager id='mysql-mydb-conMgr' maxPoolSize='10'/>
    </dataSource>

    <jdbcDriver id='mysql-driver'
                javax.sql.XADataSource='org.mariadb.jdbc.MySQLDataSource'
                javax.sql.ConnectionPoolDataSource='org.mariadb.jdbc.MySQLDataSource'
                libraryRef='mysql-library'/>

    <library id='mysql-library'>
        <fileset id='mysql-fileset'  dir='${server.config.dir}/lib'/>
    </library>
    <application name="Smood-operator" context-root="/Smood-operator" location="${appLocation}" type="war"/>

</server>
